section {
    min-height: 70vh;

    & {
        display: flex;
        align-items: center;
    }

    &#introduction {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), 0%, rgba(255, 255, 255, 0.6) 100%), url('/assets/images/road-sky-clouds-cloudy.jpg');
        background-size: cover;
    }

    &#latest {
        background-color: #f3f3f3;
    }

    &#about {
        .icons {
            margin-top: 3em;
            margin-bottom: 3em;
            img {
                width: 7em;
                margin-right: 2em;
                box-shadow: 0 0 12px rgb(100, 100, 100);
            }
        }
    }
}
