<div class="col-md-2 list-group channels" *ngFor="let channel of channels">
    <div role="button" class="thumbnail list-group-item"
         [ngClass]="{'active': channel.selected}"
         (click)="select($event, channel.id)"
         (dblclick)="navigateTo($event, channel.id)">
        <button class="pull-right btn btn-danger btn-xs btn-remove"
                *ngIf="channel.allowToDelete"
                (click)="removeChannel(channel)"
                role="button">&times;</button>
        <img alt="{{ channel.name[0] }}">
        <h4 class="text-center">{{ channel.name }}</h4>
    </div>
</div>
