<div class="dashboard">
    <div class="col-xs-6 left" dropdown [isOpen]="dropdownOpen" [autoClose]="false" (onShown)="newChannelNamefocus()">
        <button class="btn btn-primary btn-new-channel" #newChannelButton>
            <i class="glyphicon glyphicon-plus"></i> New Channel
        </button>
        <div *dropdownMenu #newChannelMenu class="dropdown-menu new-channel-menu col-md-6 col-xs-10 col-xs-12">
            <form>
                <div class="form-group">
                    <label for="newChannelName">Name</label>
                    <input type="text" [(ngModel)]="name" name="name" class="form-control" #newChannelName id="newChannelName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="newChannelDescription">Description</label>
                    <textarea class="form-control" [(ngModel)]="description" name="description" id="newChannelDescription" placeholder="Description"></textarea>
                </div>
                <button (click)="newChannel($event, name, description)" class="btn btn-primary pull-right">Create</button>
            </form>
        </div>
    </div>
    <div class="col-xs-6 right btn-control">
        <button *ngIf="layout === 'grid'" (click)="layout = 'list'" class="btn"><i class="glyphicon glyphicon-th-list"></i></button>
        <button *ngIf="layout === 'list'" (click)="layout = 'grid'"  class="btn"><i class="glyphicon glyphicon-th-large"></i></button>
        <button class="btn btn-setting"><i class="glyphicon glyphicon-cog"></i></button>
    </div>
</div>

<div class="channels clearfix">
    <aside class="col-md-2 col-sm-3 col-xs-2">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active">
                <a href="#my-channel" aria-controls="my-channel" role="tab" data-toggle="tab" (click)="switchTo('mine')">
                    <i class="fa fa-user-circle-o"></i>
                    <span class="hidden-xs">My channel</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#shared-channel" aria-controls="shared-channel" role="tab" data-toggle="tab" (click)="switchTo('shared')">
                    <i class="fa fa-users"></i>
                    <span class="hidden-xs">Shared with me</span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a role="tab">
                    <i class="fa fa-star"></i>
                    <span class="hidden-xs">Starred</span>
                </a>
            </li>
        </ul>
    </aside>
    <div class="col-md-10 col-sm-9 col-xs-10 tab-content">
        <ng-container *ngIf="(channelsSub | async); let channels; else loadingChannels">
            <ng-container *ngIf="channels.length > 0; then displayChannels; else noChannel"></ng-container>
        </ng-container>
        <ng-template #displayChannels>
            <ng-container [ngSwitch]="layout">
                <app-channel-list *ngSwitchCase="'list'"
                                  [reference]="reference"
                                  [channels]="channelsSub | async"
                                  (onRemoveChannel)="removeChannel($event)">
                </app-channel-list>
                <app-channel-grid *ngSwitchCase="'grid'"
                                  [channels]="channelsSub | async"
                                  (onRemoveChannel)="removeChannel($event)">
                </app-channel-grid>
            </ng-container>
        </ng-template>
        <ng-template #noChannel>
            <div class="no-channel">
                <ng-container [ngSwitch]="channelsSub">
                    <h2 *ngSwitchCase="myChannelsSub">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                        <span>No Channel Created yet</span>
                    </h2>
                    <h2 *ngSwitchCase="sharedChannelsSub">
                        <i class="fa fa-users fa-2x"></i>
                        <span>No shared Channel</span>
                    </h2>
                    <h2 *ngSwitchDefault>No Channel</h2>
                </ng-container>
            </div>
        </ng-template>
        <ng-template #loadingChannels>
            <h2 class="loading-circles sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </h2>
        </ng-template>
    </div>
</div>
