.channel {

    $EditLabelColor: #5CB85C;

    min-height: 77vh;

    .icon:focus {
        outline: none;
    }

    .editing {
        color: $EditLabelColor;
    }

    .loading-circles {
        margin: 1em auto;
        width: 80px;
        height: 80px;
        position: relative;

        .sk-circle {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .sk-circle:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
                    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        }

        @mixin rotate($degree) {
            -webkit-transform: rotate($degree);
                -ms-transform: rotate($degree);
                    transform: rotate($degree);
        }

        @mixin delay($time) {
            -webkit-animation-delay: $time;
                    animation-delay: $time;
        }


        @for $i from 2 through 12 {
            .sk-circle#{$i} {
                @include rotate(#{($i - 1) * 30deg});
            }
            .sk-circle#{$i}:before {
                @include delay(#{$i * 0.1s - 1.3s});
            }
        }

        @-webkit-keyframes sk-circleFadeDelay {
            0%, 39%, 100% { opacity: 0; }
            40% { opacity: 1; }
        }

        @keyframes sk-circleFadeDelay {
            0%, 39%, 100% { opacity: 0; }
            40% { opacity: 1; }
        }
    }

    .channel-head {

        .control-panel-save,
        .control-panel-edit {
            height: 24px;
            line-height: 24px;
            vertical-align: middle;
            span.label {
                padding: .3em .6em;
            }

            *:focus,
                *:hover {
                    text-decoration: none;
                }
            }

            .channel-owner {
                &:before {
                    content: ' by ';
                }
                & > a:hover {
                    text-decoration: none;
                }
            }

            input[name=name] {
                display: inline-block;
                height: 39px;
                vertical-align: bottom;
                width: 20vw;
                min-width: 13em;
            }

            .preview-name {
                &:hover {
                    border-radius: 5px;
                    border: 1px solid #AAA;
                }
            }

            textarea[name=description] {
                max-width: 80vw;
                min-width: 13em;
            }

            .preview-description {
                height: 30px;
                &:hover {
                    cursor: text;
                    border-radius: 5px;
                    border: 1px solid #AAA;
                }

                .empty {
                    color: #999;
                }
            }

            .channel-description {
                white-space: pre-wrap;
            }

            .control-icons {
                margin-top: .5em;
                margin-bottom: .5em;
                display: flex;
                height: 105px;
                align-items: center;
                justify-content: flex-end;

                .icon {
                    margin-right: .5em;
                    border-radius: 50%;
                    height: 2.5em;
                    width: 2.5em;

                    &:hover {
                        background-color: rgba(200, 200, 200, 0.5);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                #tags-filter-menu {
                    left: unset;
                    right: 0;
                }
            }
        }

        .channel-not-found {
            span.label.label-danger {
                font-size: 100%;
                padding: .2em .6em .2em;
            }
        }

        .share-modal {
            .label-email {
                margin: 1px 2px;
            }
        }

    }
