<div class="col-md-2 list-group channels" *ngFor="let channel of channels">
    <div role="button" class="thumbnail list-group-item" [ngClass]="{'active': channel.selected}" (click)="select($event, channel.id)" (dblclick)="navigateTo(channel.id)">
        <img alt="{{ channel.name[0] }}">
        <h3 class="text-center">{{ channel.name }}</h3>
        <p>
            <button class="btn btn-danger btn-sm btn-block"
                    *ngIf="channel.allowToDelete"
                    (click)="removeChannel(channel)"
                    role="button">
                Delete
            </button>
        </p>
    </div>
</div>
