<div class="channel" *ngIf="channel">
    <ng-container *ngIf="channel.id !== undefined; then ChannelExists; else ChannelNotFound"></ng-container>
    <ng-template #ChannelExists>
        <div class="channel-head">
            <ng-container *ngIf="isEditMode; then EditChannel; else DisplayChannel"></ng-container>
            <ng-template #EditChannel>
                <div class="col-xs-1 control-panel text-center">
                    <h1><a routerLink="../" class="editing"><span class="glyphicon glyphicon-chevron-left"></span></a></h1>
                    <p class="control-panel-save">
                        <button class="btn btn-link" style="padding: 0">
                            <span class="label label-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </span>
                        </button>
                    </p>
                </div>
                <div class="col-xs-11">
                    <h1>
                        <input class="form-control input-lg"
                               [ngStyle]="{width: nameInputLength(channel.owner)}"
                               [ngModel]="channel?.name"
                               name="name" type="text"/>
                        <small>
                            <span class="channel-owner"><a href="#">{{ '@' + channel.owner }}</a></span>
                        </small>
                    </h1>
                    <p class="lead">
                        <textarea class="form-control" rows="{{ channel ? 0 : channel.description.split('\n').length }}"
                                  [ngModel]="channel?.description"
                                  name="description">
                        </textarea>
                    </p>
                </div>
            </ng-template>
            <ng-template #DisplayChannel>
                <div class="col-xs-1 control-panel text-center">
                    <h1><a routerLink="/home"><span class="glyphicon glyphicon-home"></span></a></h1>
                    <p class="control-panel-edit" *ngIf="channel !== null">
                        <a routerLink="edit">
                            <span class="label label-primary">
                                <span class="glyphicon glyphicon-cog"></span> Edit
                            </span>
                        </a>
                    </p>
                </div>
                <div class="col-xs-11">
                    <h1>
                        <span>{{ channel.name }}</span><small><span class="channel-owner"><a href="#">{{ '@' + channel.owner }}</a></span></small>
                    </h1>
                    <p class="lead">
                        <span class="channel-description">{{ channel.description }}</span>
                    </p>
                </div>
            </ng-template>
        </div>

        <div class="clearfix"></div>

        <!-- programs -->
        <app-program [channelId]="channel.id"
                 [programs]="channel.programs"
                 [isEditMode]="isEditMode">
        </app-program>
    </ng-template>

    <ng-template #ChannelNotFound>
        <div class="channel-not-found">
            <div class="col-xs-1 control-panel text-center">
                <h1><a routerLink="/home"><span class="glyphicon glyphicon-home"></span></a></h1>
            </div>
            <div class="col-xs-11">
                <h1>
                    <span class="label label-danger">OOPS!</span>
                    <span>Channel Not Found</span>
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </ng-template>
</div>
