<div class="channel">
    <ng-container *ngIf="channel === undefined; then ChannelLoading; else ChannelLoaded"></ng-container>

    <ng-template #ChannelLoading>
        <h2 class="loading-circles sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </h2>
    </ng-template>

    <ng-template #ChannelLoaded>
        <ng-container #ChannelLoaded *ngIf="channel !== null; then ChannelExists; else ChannelNotFound"></ng-container>
    </ng-template>

    <ng-template #ChannelExists>
        <div class="channel-head">
            <ng-container *ngIf="isEditMode; then EditChannel; else DisplayChannel"></ng-container>
            <ng-template #EditChannel>
                <div class="col-xs-10">
                    <h1>
                        <input class="form-control input-lg"
                               [ngStyle]="{width: nameInputLength(channel.owner)}"
                               [ngModel]="channel?.name"
                               #inputChannelName
                               name="name" type="text"/>
                        <small>
                            <span class="channel-owner">
                                <a role="button">
                                    {{ channel.owner.replace('%2E', '.') }}
                                </a>
                            </span>
                        </small>
                    </h1>
                    <p class="lead">
                        <textarea class="form-control"
                                  rows="{{ channel ? 0 : channel.description.split('\n').length }}"
                                  #inputChannelDescription
                                  [ngModel]="channel?.description"
                                  name="description">
                        </textarea>
                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="control-icons">
                        <div>
                            <button class="icon success"
                                    (click)="updateChannel(inputChannelName.value, inputChannelDescription.value)">
                                <i class="glyphicon glyphicon-floppy-saved"></i>
                            </button>
                            <button class="icon fail" routerLink="../"><i class="glyphicon glyphicon-floppy-remove"></i></button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #DisplayChannel>
                <div class="col-xs-10">
                    <h1>
                        <span>{{ channel.name }}</span>
                        <small>
                            <span class="channel-owner">
                                <a role="button">
                                    {{ channel.owner.replace('%2E', '.') }}
                                </a>
                            </span>
                        </small>
                    </h1>
                    <p class="lead">
                        <span class="channel-description">{{ channel.description }}</span>
                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="control-icons">
                        <div class="dropdown">
                            <button class="icon" *ngIf="channel.allowToStar"><i class="fa fa-star"></i></button>
                            <button class="icon" *ngIf="channel.allowToEdit" routerLink="edit"><i class="fa fa-pencil"></i></button>
                            <button class="icon dropdown-toggle" id="tags-filter-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-filter"></i>
                            </button>
                            <ul class="dropdown-menu" id="tags-filter-menu" aria-labelledby="tags-filter-dropdown">
                                <li *ngFor="let tag of tags">
                                    <a role="button">
                                        <input type="checkbox"
                                               [checked]="tag.selected"
                                               (change)="updateSelectedTags(tag.name)"/>
                                        {{ tag.name }}
                                    </a>
                                </li>
                            </ul>
                            <button class="icon"  *ngIf="channel.allowToShare" (click)="openShareModal()"><i class="fa fa-share"></i></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div> <!-- .channel-head -->

        <div class="clearfix"></div>

        <!-- programs -->
        <app-program [channelId]="channel.id"
                     [programs]="filteredPrograms"
                     [isEditMode]="isEditMode">
        </app-program>
    </ng-template>

    <ng-template #ChannelNotFound>
        <div class="channel-not-found">
            <div class="row text-center">
                <h1>
                    <span>Channel Not Found</span>
                </h1>
                <img alt="channel not found" src="https://firebasestorage.googleapis.com/v0/b/shucyan-dev.appspot.com/o/132711tszb51rs5qq1w15t.jpg?alt=media&token=00b1dc24-22c1-45d6-8b82-6899ea31bd64"/>
            </div>
        </div>
    </ng-template>

    <div class="modal share-modal" bsModal #shareModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Share</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="shareModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Share with Collaborators&#58;</p>
                    <ul class="list-group" *ngIf="channel">
                        <ng-container  *ngIf="collaborators.length > 0; then listCollaborators else noCollaborator"></ng-container>
                        <ng-template #listCollaborators>
                            <li class="list-group-item" *ngFor="let email of collaborators">
                                <button class="btn btn-danger btn-xs pull-right btn-remove-collaborator"
                                        (click)="removeCollaborator(email)">
                                    <i>&times;</i>
                                </button>
                                {{ email.replace('%2E', '.') }}
                            </li>
                        </ng-template>
                        <ng-template #noCollaborator>
                            <li class="list-group-item">
                                <i>No Collaborators</i>
                            </li>
                        </ng-template>
                    </ul>
                    <div class="well well-sm">
                        <p>Invite&#58;</p>
                        <input type="email"
                               class="form-control"
                               placeholder="Email"
                               #inputEmailElement
                               (keydown.Tab)="inputEmailChanged($event)"
                               [(ngModel)]="inputEmail"
                               (keyup)="inputEmailChanged($event)">
                        <span class="label label-default label-email" *ngFor="let email of inputCollaborators">
                            {{ email }}
                            <i role="button" (click)="inputEmailRemove(email)">&times;</i>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary pull-left"
                            (click)="saveCollaborators()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
