.channel {

  $lightGray: rgb(245, 245, 245);
  $lightBlue: #D9EDF7;
  $UnitedNationsBlue: #4B92DB;
  $EditLabelColor: #5CB85C;

  .editing {
    color: $EditLabelColor;
  }

  .channel-head {

    .control-panel-save,
    .control-panel-edit {
      height: 24px;
      line-height: 24px;
      vertical-align: middle;
      span.label {
        padding: .3em .6em;
      }

      *:focus,
      *:hover {
        text-decoration: none;
      }
    }

    .channel-owner {
      &:before {
        content: ' by ';
      }
      & > a:hover {
        text-decoration: none;
      }
    }

    input[name=name] {
      display: inline-block;
      height: 39px;
      vertical-align: bottom;
    }

    textarea[name=description] {
    }

    .channel-description {
      white-space: pre-wrap;
    }
  }

  .channel-row {
    display: flex;
  }

  .week-title > .day-title {
    background-color: $lightBlue;
    font-weight: bold;
  }

  .add-program,
  .day-title,
  .program {
    display: flex;
    width: calc(100% / 8);
    padding: 2rem .5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    position: relative;
    opacity: .7;

    &:first-child {
      margin-left: 0;
    }

    &.today {
      opacity: 1;
      width: calc(100% / 4);
    }

    & > a,
    & > p {
      padding: 0;
      margin: 0;
      word-break: break-all;
    }

    span.label {
      margin-right: .25rem;
      font-size: .9rem;
      color: $lightGray;
      display: inline-block;
    }

    background-color: $lightGray;
    justify-content: center;
    flex-direction: column;

    .remove-program {
      color: red;
      position: absolute;
      height: 1rem;
      line-height: 1rem;
      top: .5rem;
      right: .5rem;
    }
  }

  .add-program {
    cursor: pointer;
    background-color: #fcf8e3;
    padding: 1rem .5rem;
  }

  .program.active {
    &:hover {
      cursor: pointer;
      color: $lightGray;
      & > * {
        color: $lightGray;
      }
      background-color: $UnitedNationsBlue;
      transition: all 0.2s ease-in-out;
    }
  }


}

