<div class="channel">

    <div class="channel-head">
        <div class="col-xs-1 control-panel text-center">
            <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
            <p class="control-panel-edit">
                <a href="#">
                    <span class="label label-primary">
                        <span class="glyphicon glyphicon-cog"></span> Edit
                    </span>
                </a>
            </p>
        </div>
        <div class="col-xs-9">
            <h1>{{ channel.name }}<small><span class="channel-owner"><a href="#">{{ '@' + channel.owner }}</a></span></small></h1>
            <p class="lead">
                <span class="channel-description">{{ channel.description }}</span>
            </p>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="channel-row week-title">
        <div class="day-title text-center"
             *ngFor="let name of namesOfDays; let i = index"
             [ngClass]="{today: isToday(i)}">
            {{ name }}
        </div>
    </div>
    <div *ngFor="let row of programTable" class="channel-row">
        <div *ngFor="let program of row; let i = index" class="program text-center"
             [ngClass]="{today: isToday(i), active: program !== undefined}">
            <a *ngIf="program && program.link" href="{{program.link}}">{{ program.title }}</a>
            <p *ngIf="program && !program.link">{{ program.title }}</p>
            <div *ngIf="program && program.tags" class="tags">
                <span *ngFor="let tag of program.tags" class="label"
                      [ngStyle]="{'background-color': getColor(tag)}">
                    {{ tag }}
                </span>
            </div>
        </div>
    </div>

</div>
